<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 控制台打印 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 日志滚动-->
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>./%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<!--userService特定输出 -->
	<appender name="userService" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./user-service-%d{yyyy-MM-dd-HH}.log</fileNamePattern>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.ning.logback.demo.UserService" level="WARN" additivity="false">
		<appender-ref ref="userService" />
	</logger>


    <!-- 每个省份单独存放日志 -->
	<appender name="province" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<Key>province</Key>
			<DefaultValue>null</DefaultValue>
		</discriminator>
		<sift>
		    <appender name="FILEx" class="ch.qos.logback.core.FileAppender">
				<File>./province_${province}.log</File>
				<Append>true</Append>
				<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
					<charset>UTF-8</charset>
					<layout class="ch.qos.logback.classic.PatternLayout">
						<Pattern>
							%msg%n
						</Pattern>
					</layout>
				</encoder>
			</appender>
		</sift>
	</appender>
	<logger name="com.ning.logback.demo.ProvinceService" level="INFO" additivity="false">
		<appender-ref ref="province" />
	</logger>
	
	
	<!-- project default level -->
	<logger name="com.tcl.logoidentify" level="WARN" />
	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>